/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Index
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html { overflow-y: scroll; }
nav { margin-top: 10px; border: 1px solid #ccc; padding: 15px 0; }
nav a { margin-left: 30px; }
nav a.active { font-weight: bolder; }
#content { background: #fff url('../images/logo.png') right 65px no-repeat; }
h2 { font-weight: lighter; margin: 20px 0; font-size: 48px; }

/* -----------------------------------------
   Index
----------------------------------------- */

.tabs-content h3 { float: left; }
.tabs-content a { margin-top: 23px; float: right; }
.tabs-content p { clear: both; margin-top: 25px; }
.crypt-form textarea { height: 80px; }
.clear-form { margin-left: 8px; }