/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Index
:: How to use
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html { overflow-y: scroll; }
nav { margin-top: 10px; border: 1px solid #ccc; padding: 15px 0; }
nav a { margin-left: 30px; }
nav a.active { font-weight: bolder; }
#content { background: #fff url('../images/logo.png') right 65px no-repeat; }
h2 { font-weight: lighter; margin: 20px 0; font-size: 48px; }
h3 { font-weight: lighter; }
.external { padding-right: 15px; background: #fff url("../images/external.png") no-repeat right center; }
.container { margin-bottom: 150px; }

/* -----------------------------------------
   Index
----------------------------------------- */

.tabs { margin-top: 60px; }
.tabs-content h3 { float: left; }
.tabs-content a { margin-top: 23px; float: right; }
.tabs-content p { clear: both; margin-top: 25px; }
.crypt-form textarea { height: 80px; }
.clear-form { margin-left: 8px; }
/*h3 { text-decoration: underline; }*/
h3 { border-bottom: 1px solid #000; padding-bottom: 5px; }

/* -----------------------------------------
   How to use
----------------------------------------- */

.docs { margin-top: 45px; }
.docs p { float: left; color: red; }
.docs img { float: right; }
.step { text-align: center; }
hr.separator {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,0));
  border: 0;
}