<h2>Colabore</h2>

<p>O projeto está disponível em <a href="https://github.com/rafarhap/criptoteca.git" target="blank" class="external">https://github.com/rafarhap/criptoteca.git</a> e qualquer correção, melhoria ou sugestão é bem vinda.</p>