<h2>Colabore</h2>

<p>O projeto está disponível em <a href="https://github.com/rafarhap/criptoteca.git" target="blank" class="external">https://github.com/rafarhap/criptoteca.git</a> e qualquer correção, melhoria ou sugestão é bem vinda.</p>

<p>Componentes técnicos:</p>

<ul>
  <li><strong>Web framework:</strong> Sinatra - <a href="http://sinatrarb.com" target="blank" class="external">http://sinatrarb.com</a></li>
  <li><strong>Front-end framework:</strong> Foundation - <a href="http://sinatrarb.com" target="blank" class="external">http://foundation.zurb.com</a></li>
  <li><strong>Hosting:</strong> Heroku - <a href="http://sinatrarb.com" target="blank" class="external">http://heroku.com</a></li>
  <li><strong>Repositório de código:</strong> GitHub - <a href="http://sinatrarb.com" target="blank" class="external">https://github.com/rafarhap/criptoteca.git</a></li>
</ul>