<h2>Como utilizar</h2>

<p>A utilização do sistema CriptoTeca é muito simples, bastando selecionar o tipo de criptografia ou encoding, disponível nas várias abas, e em seguida, preencher o campo <strong>Mensagem a ser criptografada</strong> e clicar no botão <strong>Criptografar mensagem</strong>, conforme o exemplo abaixo:</p>  

<div class="docs">
  <div class="four columns step">
    <p><strong>PASSO 1.</strong> Selecione o tipo de criptografia ou encoding desejado</p>
  </div>

  <div class="eight columns">
    <img src="/images/step-1.png" alt="Passo 1" />
  </div>
</div>

<br style="clear: both; ">
<hr class="separator" />

<div class="docs">
  <div class="four columns step">
    <p><strong>PASSO 2.</strong> Preencha o campo "Mensagem a ser criptografada"</p>
  </div>

  <div class="eight columns">
    <img src="/images/step-2.png" alt="Passo 2" />
  </div>
</div>

<br style="clear: both; ">
<hr class="separator" />

<div class="docs">
  <div class="four columns step">
    <p><strong>PASSO 3.</strong> Clique no botão "Criptografar mensagem"</p>
  </div>

  <div class="eight columns">
    <img src="/images/step-3.png" alt="Passo 3" />
  </div>
</div>

<br style="clear: both; ">
<hr class="separator" />

<div class="docs">
    <div class="four columns step">
    <p><strong>PASSO 4.</strong> Confira a mensagem criptografada</p>
  </div>

  <div class="eight columns">
    <img src="/images/step-4.png" alt="Passo 4" />        
  </div>
</div>

<br style="clear: both; ">
<hr class="separator" />

<div class="docs">
  <div class="four columns step">
    <p><strong>PASSO 5.</strong> Para limpar os campos preenchidos e criptografar outras mensagens, clique no botão "Limpar"</p>
  </div>

  <div class="eight columns">
    <img src="/images/step-5.png" alt="Passo 5" />
  </div>
</div>